body{
  background-color: rgb(252, 223, 221);/*set background color to light red*/
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: auto;
}

footer > div > nav > p {/*footer holding name at bottom*/
  color: #2b2b2b;
  font-size: 16px;
}

header{
  margin: auto;
  width: auto;
  height: auto;
}
div {
  width: 600px;
  margin: auto;
}


h1{/*white letters in h1*/
  color:white;
}

h3{/*white letters in h3*/
  color: white;
}

.dark-background{/*new red backgorund to contrast*/
  background-color:rgba(243, 26, 26, 0.856);
}

ul{ /*unordered list*/
  text-align: left;
  list-style-position: inside;
  font-size: 20px;
}

ol{/*ordered list*/
  display: inline-block;
  text-align: left;
  list-style-position: inside;
  font-size: 20px;
  margin-right: 40px;
}

/*interactive web link settings*/
a:link    { color: blue;  }
a:visited { color: red;   }
a:hover   { color: green; }
a:active  { color: pink;  }
